/* *{
    margin: 0;
    padding: 0;
  }
  #products{
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #products>div{
    width: 35%;
    height: 150px;
    border: 1px solid red;
  }
   */