/* #login1{
    height: 750px;
    width: 35%;
  }
  #register{
    margin-top: 80px;
    margin-left: 50px;
  }
  #top{
    display: flex;
  }
  #top>div:nth-child(1)>div:nth-child(1){
    font-size: 30px;
    font-weight: bold;
  }
  #top>div:nth-child(1)>div:nth-child(2){
    margin-top: 8px;
    font-size: 14px;
  }
  #top>div:nth-child(1)>div:nth-child(2)>a{
    color: orangered;
  }
  #top>div:nth-child(1)>div:nth-child(3){
    margin-top: 20px;
    width: 30px;
    border: 1px solid grey;
  }
  #top>div:nth-child(2){
    margin-left: 100px;
  }
  #top>div:nth-child(2)>img{
    width: 100px;
    height: 100px;
  }
  form{
    margin-top: 40px;
    width: 350px;
  }
  form>label{
    margin-top: 50px;
    font-size: 18px;
  }
  form>input{
    height: 40px;
    width: 350px;
    border: 1px solid green;
    outline: none;
    font-size: 16px;
  }
  #input{
    margin-top: 20px;
    width: 355px;
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
    cursor: pointer;
  }
  form>div{
    margin-top: 5px;
    font-size: 12px;
  } */